{{ partial "head.html" . }}
{{ partial "navbar.html" . }}
<div class="wrapper">
  <article id="main-container-event">
    <header class="container article-header">
      <h1 class="title">{{ .Title }}</h1>
      <hr />
    </header>

    <section class="container article-content">
      <div class="article-sidebar col-sm-3">
        {{ $flyer := .Params.flyer | default .Site.Params.event_default_image }}
        {{ with $flyer }}
          <img class="event-flyer img-responsive" src="{{ . | relURL }}" alt="Flyer für {{ $.Title }}" />
        {{ end }}
        {{ if and (or (eq .Site.Params.maps "true") (eq .Site.Params.maps true)) .Params.map }}
          <img class="event-map img-responsive" src="https://maps.googleapis.com/maps/api/staticmap?center={{ .Params.map.lat }},{{ .Params.map.long }}&zoom={{ .Params.map.zoom }}&size=600x400&scale=2" alt="Karte für {{ .Title }}" />
        {{ end }}
        {{ with .Params.event }}
          {{ with .location }}<h3>{{ . }}</h3>{{ end }}
          {{ with .time }}<p class="text-muted"><time>{{ . }}</time></p>{{ end }}
        {{ end }}
        {{ with .Params.event_date }}
          <p class="text-muted"><time>{{ if eq $.Site.Language.Lang "en" }}{{ time.Format "January 2, 2006" . }}{{ else }}{{ time.Format "02.01.2006" . }}{{ end }}</time></p>
        {{ end }}
      </div>
      <div class="col-sm-9">
        {{ with .Description }}<p class="event-description">{{ . }}</p>{{ end }}
        {{ .Content }}
      </div>
    </section>
  </article>
</div>
{{ partial "footer.html" . }}