{{ partial "head.html" . }}
{{ partial "navbar.html" . }}
{{ $isMusic := eq .Section "music" }}
{{ if $isMusic }}
<style>
  .music-single-cover,
  .music-single-cover:before {
    height: 90vh;
    min-height: 420px;
  }

  .music-single-cover {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }

</style>
{{ end }}
<div class="wrapper">
  {{ with .Params.coverimage }}
    <div class="article-cover{{ if $isMusic }} music-single-cover{{ end }}"{{ if not $isMusic }} data-stellar-background-ratio="0.25"{{ end }} style="background-image: url({{ . }})"></div>
  {{ end }}
  <article id="main-container" >
    {{ partial "articleheader.html" . }}
    {{ if or (eq .Params.toc "true") (eq .Params.toc true) }}
    <section id="article-content" class="container article-content">
      <div class="col-sm-9">
        {{ .Content }}
      </div>
      <div id="article-toc" class="col-sm-3">
        {{ .TableOfContents }}
      </div>
    </section>
    {{ else }}
    <section id="article-content" class="container article-content">
      <div class="col-sm-12">
        {{ .Content }}
      </div>
    </section>
    {{ end }}
    {{ partial "articlefooter.html" . }}
  </article>
</div>
{{ partial "footer.html" . }}
